body {
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

header {
    background: #000;
    padding: 20px;
    border-bottom: 2px solid #00ff41;
}

span { color: #00ff41; }

.view {
    display: none;
    padding: 20px;
}

.view.active {
    display: block;
}

input, button {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button {
    background: #00ff41;
    font-weight: bold;
    cursor: pointer;
}

#danger {
    background: #ff4444;
    color: white;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    display: flex;
}

nav button {
    flex: 1;
    background: none;
    color: white;
    border-radius: 0;
}