body {
    background: #0a0a0a;
    color: #00ff41;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding-bottom: 70px;
}

header {
    text-align: center;
    border-bottom: 2px solid #00ff41;
    padding: 10px;
}

h1 span { color: #fff; }

.view { display: none; padding: 20px; }

input {
    width: 100%;
    background: #111;
    border: 1px solid #00ff41;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background: #00ff41;
    color: #000;
    border: none;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #1a1a1a;
    border-top: 1px solid #00ff41;
}

nav button {
    flex: 1;
    margin: 0;
    background: none;
    color: #00ff41;
    border-right: 1px solid #333;
}

/* Картка в списку */
.secret-card {
    background: #1a1a1a;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.secret-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    border: 1px solid #00ff41;
}

.secret-text { flex-grow: 1; color: #eee; }

.del-btn {
    width: auto;
    background: #440000;
    color: #ff0000;
    padding: 5px 10px;
    font-size: 12px;
}